@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input.inp {
    @apply w-full rounded-md border px-2 py-1 focus:border-blue-500 focus:outline-none focus:ring-0;
  }

  a {
    font-weight: 500;
    color: theme('colors.blue.400');
    text-decoration: inherit;
  }

  a:hover {
    color: inherit;
  }

  nav > a:hover {
    text-decoration: underline;
  }
  :root {
    --radius: 0.5rem;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
